$primary-background: #faba7e;
$table-color: orange;

@mixin tab-guidelines($tab-height) {
  height: $tab-height;
}

@mixin input-format() {
  height: 30px;
  font-size: 15px;
  width: 200px;
  border-radius: 2%;
  text-align: center;
}

@mixin button-format() {
  height: 34px;
  width: 200px;
  padding: 7px;
  font-size: 15px;
  background-color: lightsalmon;
  border: 2px solid rgb(247, 145, 104);
  border-radius: 2%;
  text-align: center;
}

body {
  background-color: $primary-background;
  font-family: 'Trebuchet MS', serif;
}

.title {
  color: rgb(202, 103, 10);
}

h1 {
  margin: 0;
  font-size: 40px;
}

hr {
  margin:0px;
}

h2,
.date {
  font-size: 18px;
}

.align-horizontally{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scroll-short{
  max-height: 350px;
  overflow: scroll;
}

section{
			margin-top: 100px;
			font-family: 'Trebuchet MS', serif;
      line-height: 1;
      
		}
		.container{
      background-color: orange;
      align-self: center;
      margin: 0;
      @include tab-guidelines(80vh);
    }

		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
      padding: 10px 15px;
      height: 30px;
      font-size: 18px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #f7e7ca;
      color: #222;
      height:30px;
		}

		.tab-content{
			display: none;
			background: #f7e7ca;
      padding: 15px;
      @include tab-guidelines(80vh);
		}

		.tab-content.current{
			display: inherit;
    }

    .tab-link {
      width: 100px;
    }
    
    .hidden {
      display: none;
    }

// TAB MAIN

#tab-1{
  h2 {
    font-size: 18px;
    border-radius: 2%;
  }
  li {
    list-style: none;
  }

  table {
    margin-top: 30px;
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: center;
  }
  table#t07 tr:nth-child(even){
    background-color: #eee;
  }
  table#t07 tr:nth-child(odd){
  background-color: #fff;
  }
  table#t07 th{
    background-color: $table-color;
    color: white;
  }
  .inpt{
    @include input-format();
  }
  .btn{
    @include button-format();
  }
  
}


// TAB ORDERS
#tab-2{
  h2 {
    font-size: 18px;
    border-radius: 2%;
  }
  li {
    list-style: none;
  }
  .customer-service{
    margin: 0;
  }
  .customer-service-form {
    display: flex;
    flex-direction: row;
    .search-date-input-room-service{
      @include input-format();
    }
    .btn{
      @include button-format();
    }
  }

//ROOM SERVICE TODAY'S ORDERS TABLE + CUSTOMER'S ORDERS TABLE
    table {
      margin-top: 30px;
      width:100%;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
      text-align: center;
    }
    table#t01 tr:nth-child(even), 
    table#t02 tr:nth-child(even){
      background-color: #eee;
    }
    table#t01 tr:nth-child(odd),
    table#t02 tr:nth-child(odd){
    background-color: #fff;
    }
    table#t01 th,
    table#t02 th{
      background-color: $table-color;
      color: white;
    }
    .inpt{
      @include input-format();
    }
    .btn{
      @include button-format();
    }

}

//TAB ROOM
#tab-3{
  h2 {
    font-size: 18px;
    border-radius: 2%;
  }
  li {
    list-style: none;
  }
  .one-customers-bookings {
    margin: 0;
  }
  .inpt{
    @include input-format();
  }
  .upgrade-button,
  .btn{
    margin-right: 20px;
    margin-bottom: 20px;
    @include button-format();
  }
//TABLE FOR GENERAL AVAILABLE ROOMS BY DATE, AND SMALL TABLE FOR BEST AND WORST DATE
  table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: center;
  }
  table#t03 tr:nth-child(even),
  table#t04 tr:nth-child(even),
  table#t05 tr:nth-child(even),
  table#t06 tr:nth-child(even),{
    background-color: #eee;
  }
  table#t03 tr:nth-child(odd),
  table#t04 tr:nth-child(odd),
  table#t05 tr:nth-child(odd),
  table#t06 tr:nth-child(odd){
  background-color: #fff;
  }
  table#t03 th,
  table#t04 th,
  table#t05 th,
  table#t06 th{
    background-color: $table-color;
    color: white;
  }
  table#t06 td{
    padding: 5px;
  }

  .book-a-room-btn{
    margin: 0px;
  }

  .rooms-by-type{
    margin: 0px;
  }

  .scroll{
    max-height: 400px;
    overflow-y: scroll;
  }

  #room-type-list{
    @include input-format();
    margin-top: 20px;
  }

  .customer-list-ul{
    max-height: 90px;
    overflow: scroll;
    padding: 0;
  }

  #book-btn-today,
  .cancel-booking {
    @include button-format();
  }

  .scroll-filter-by-type{
    max-height: 100px;
  }
  
  .order-room-service-btn {
    margin-top: 20px;
  }

  .order-room-service,
  .buy {
    margin: 0px;
  }

  .buy-items{
    max-height: 80px;
  }
}

// TAB CUSTOMER

#tab-4{
  h2 {
    font-size: 18px;
    border-radius: 2%;
  }
  .btn{
    @include button-format();
  }
  .inpt{
    @include input-format();
  }
}

